/.vs/New folder (3)/v17/.suo
/.vs/New folder (3)/FileContentIndex/09dfe5c4-939b-475c-88e7-cc3f91d927b1.vsidx
/.idea/misc.xml
/.idea/modules.xml
/.idea/New folder (3).iml
/.idea/inspectionProfiles/profiles_settings.xml
/.vs/New folder (3)/FileContentIndex/read.lock
/.vs/slnx.sqlite
/.idea/vcs.xml
/.vs/VSWorkspaceState.json
